In [2]:
import pandas as pd

# funções desenvolvidas para o projeto
from src.config import DADOS_ORIGINAIS

In [3]:
df_diabetes = pd.read_csv(DADOS_ORIGINAIS)
df_diabetes.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [4]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

Todas as colunas da base de dados acima são classificados como float quando na verdade, algumas dessas colunas podem ser classificadas como categóricas.
Para uma melhor visualização dos dados, vizualizaremos as 5 primeiras linhas da base de dados por completo.

In [5]:
with pd.option_context("display.max_columns", None):
    display(df_diabetes.head())

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

Para uma melhor compreensão dos dados foram mudados os nomes das colunas

In [6]:
df_diabetes.columns = [
    "Diabetes",
    "PressaoAlta",
    "ColesterolAlto",
    "ColesterolExame",
    "IMC",
    "Fumante",
    "AVC",
    "ProblemaCardiaco",
    "AtividadeFísica",
    "ConsumoFrutas",
    "ConsumoVegetais",
    "ConsumoBebidaAlcoolica",
    "PlanoSaude",
    "SemDinheiroConsulta", 
    "SaudeGeral",
    "SaudeMental",
    "SaudeFisica",
    "DificuldadeLocomocao", 
    "Genero", 
    "Idade",
    "Educacao",
    "FaixaRenda",
    ]

In [7]:
with pd.option_context("display.max_columns", None):
    display(df_diabetes.head())

,Diabetes,PressaoAlta,ColesterolAlto,ColesterolExame,IMC,Fumante,AVC,ProblemaCardiaco,AtividadeFísica,ConsumoFrutas,ConsumoVegetais,ConsumoBebidaAlcoolica,PlanoSaude,SemDinheiroConsulta,SaudeGeral,SaudeMental,SaudeFisica,DificuldadeLocomocao,Genero,Idade,Educacao,FaixaRenda
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

Orgranizando as colunas de acordo com os tipos de dados que elas possuem:

In [8]:
colunas_binarias = df_diabetes.nunique()[df_diabetes.nunique() == 2].index.to_list()
colunas_binarias

['Diabetes',
 'PressaoAlta',
 'ColesterolAlto',
 'ColesterolExame',
 'Fumante',
 'AVC',
 'ProblemaCardiaco',
 'AtividadeFísica',
 'ConsumoFrutas',
 'ConsumoVegetais',
 'ConsumoBebidaAlcoolica',
 'PlanoSaude',
 'SemDinheiroConsulta',
 'DificuldadeLocomocao',
 'Genero']

A partir desse ponto, com o intuito de manter a base de dados íntegra, será criada uma cópia da base de dados para melhores tratamentos

In [9]:
df_diabetes_tratado = df_diabetes.copy()

Com as colunas binárias determinadas, vamos mudar os tipos de dados e de cada uma dessas colunas. Além disso, para uma melhor compreensão dos dados, vamos mudar os tipos binários de cada coluna para "Não" e "Sim", exceto a coluna "Genero"

In [10]:
for coluna in colunas_binarias:
    if coluna != "Genero":
        df_diabetes_tratado[coluna] = pd.Categorical(df_diabetes_tratado[coluna]).rename_categories(["Não", "Sim"])
    else:
        df_diabetes_tratado[coluna] = pd.Categorical(df_diabetes_tratado[coluna]).rename_categories(["Feminino", "Masculino"])

In [11]:
with pd.option_context("display.max_columns", None):
    display(df_diabetes_tratado.head())

,Diabetes,PressaoAlta,ColesterolAlto,ColesterolExame,IMC,Fumante,AVC,ProblemaCardiaco,AtividadeFísica,ConsumoFrutas,ConsumoVegetais,ConsumoBebidaAlcoolica,PlanoSaude,SemDinheiroConsulta,SaudeGeral,SaudeMental,SaudeFisica,DificuldadeLocomocao,Genero,Idade,Educacao,FaixaRenda
0,Não,Sim,Não,Sim,26.0,Não,Não,Não,Sim,Não,Sim,Não,Sim,Não,3.0,5.0,30.0,Não,Masculino,4.0,6.0,8.0
1,Não,Sim,Sim,Sim,26.0,Sim,Sim,Não,Não,Sim,Não,Não,Sim,Não,3.0,0.0,0.0,Não,Masculino,12.0,6.0,8.0
2,Não,Não,Não,Sim,26.0,Não,Não,Não,Sim,Sim,Sim,Não,Sim,Não,1.0,0.0,10.0,Não,Masculino,13.0,6.0,8.0
3,Não,Sim,Sim,Sim,28.0,Sim,Não,Não,Sim,Sim,Sim,Não,Sim,Não,3.0,0.0,3.0,Não,Masculino,11.0,6.0,8.0
4,Não,Não,Não,Sim,29.0,Sim,Não,Não,Sim,Sim,Sim,Não,Sim,Não,2.0,0.0,0.0,Não,Feminino,8.0,5.0,8.0

In [12]:
df_diabetes_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Diabetes                70692 non-null  category
 1   PressaoAlta             70692 non-null  category
 2   ColesterolAlto          70692 non-null  category
 3   ColesterolExame         70692 non-null  category
 4   IMC                     70692 non-null  float64
 5   Fumante                 70692 non-null  category
 6   AVC                     70692 non-null  category
 7   ProblemaCardiaco        70692 non-null  category
 8   AtividadeFísica         70692 non-null  category
 9   ConsumoFrutas           70692 non-null  category
 10  ConsumoVegetais         70692 non-null  category
 11  ConsumoBebidaAlcoolica  70692 non-null  category
 12  PlanoSaude              70692 non-null  category
 13  SemDinheiroConsulta     70692 non-null  category
 14  SaudeGeral              70692 non-null  float64
 15  SaudeMental             70692 non-null  float64
 16  SaudeFisica             70692 non-null  float64
 17  DificuldadeLocomocao    70692 non-null  category
 18  Genero                  70692 non-null  category
 19  Idade                   70692 non-null  float64
 20  Educacao                70692 non-null  float64
 21  FaixaRenda              70692 non-null  float64
dtypes: category(15), float64(7)
memory usage: 4.8 MB

Do mesmo modo que as colunas binárias foram modificadas para colunas categóricas, modificaremos as demais colunas para o mesmo tipo categórico

In [13]:
df_diabetes_tratado["SaudeGeral"] = pd.Categorical(
    df_diabetes_tratado["SaudeGeral"], 
    ordered=True,
    ).rename_categories(["Excelent", "Muito Boa", "Boa", "Aceitável", "Ruim"])

In [14]:
df_diabetes_tratado["Idade"] = pd.Categorical(
    df_diabetes_tratado["Idade"], 
    ordered=True,
    ).rename_categories([
        "18-24", 
        "25-29",
        "30-34",
        "35-39", 
        "40-44", 
        "45-49", 
        "50-54", 
        "55-59", 
        "60-64",
        "65-69", 
        "70-74", 
        "75-79", 
        "80+"
    ])

In [15]:
df_diabetes_tratado["Educacao"] = pd.Categorical(
    df_diabetes_tratado["Educacao"], 
    ordered=True,
    ).rename_categories([
        "sem estudo", 
        "primario",
        "secundario inc.",
        "secundario", 
        "faculdade inc. tecnico", 
        "faculdade", 
    ])

In [16]:
df_diabetes_tratado["FaixaRenda"] = pd.Categorical(
    df_diabetes_tratado["FaixaRenda"], 
    ordered=True,
    ).rename_categories([
        "< 10.000",
        "10.000-14.999",
        "15.000-19.999",
        "20.000-24.999",
        "25.000-34.999",
        "35.000-49.999",
        "50.000-74.999",
        "75.000+",
    ])

In [17]:
df_diabetes_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Diabetes                70692 non-null  category
 1   PressaoAlta             70692 non-null  category
 2   ColesterolAlto          70692 non-null  category
 3   ColesterolExame         70692 non-null  category
 4   IMC                     70692 non-null  float64
 5   Fumante                 70692 non-null  category
 6   AVC                     70692 non-null  category
 7   ProblemaCardiaco        70692 non-null  category
 8   AtividadeFísica         70692 non-null  category
 9   ConsumoFrutas           70692 non-null  category
 10  ConsumoVegetais         70692 non-null  category
 11  ConsumoBebidaAlcoolica  70692 non-null  category
 12  PlanoSaude              70692 non-null  category
 13  SemDinheiroConsulta     70692 non-null  category
 14  SaudeGeral              70692 non-null  category
 15  SaudeMental             70692 non-null  float64
 16  SaudeFisica             70692 non-null  float64
 17  DificuldadeLocomocao    70692 non-null  category
 18  Genero                  70692 non-null  category
 19  Idade                   70692 non-null  category
 20  Educacao                70692 non-null  category
 21  FaixaRenda              70692 non-null  category
dtypes: category(19), float64(3)
memory usage: 2.9 MB

Já as colunas numéricas, há a necessidade de fazer uma análise para saber se todas os dados se tratam de números inteiros.

In [20]:
df_diabetes_tratado["IMC"].apply(float.is_integer).all()

True

In [21]:
df_diabetes_tratado["SaudeMental"].apply(float.is_integer).all()

True

In [22]:
df_diabetes_tratado["SaudeFisica"].apply(float.is_integer).all()

True

Como todos os dados se tratam de números inteiros, mudaremos o tipo de dado (de floar para inteiro) para obtermos menor espaço de memória e maior performance

In [23]:
colunas_numericas = df_diabetes_tratado.select_dtypes(include="number").columns.to_list()
colunas_numericas

['IMC', 'SaudeMental', 'SaudeFisica']

In [24]:
for coluna in colunas_numericas:
    df_diabetes_tratado[coluna] = pd.to_numeric(
        df_diabetes_tratado[coluna],
        downcast="integer"
    )

In [25]:
df_diabetes_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Diabetes                70692 non-null  category
 1   PressaoAlta             70692 non-null  category
 2   ColesterolAlto          70692 non-null  category
 3   ColesterolExame         70692 non-null  category
 4   IMC                     70692 non-null  int8
 5   Fumante                 70692 non-null  category
 6   AVC                     70692 non-null  category
 7   ProblemaCardiaco        70692 non-null  category
 8   AtividadeFísica         70692 non-null  category
 9   ConsumoFrutas           70692 non-null  category
 10  ConsumoVegetais         70692 non-null  category
 11  ConsumoBebidaAlcoolica  70692 non-null  category
 12  PlanoSaude              70692 non-null  category
 13  SemDinheiroConsulta     70692 non-null  category
 14  SaudeGeral              70692 non-null  category
 15  SaudeMental             70692 non-null  int8
 16  SaudeFisica             70692 non-null  int8
 17  DificuldadeLocomocao    70692 non-null  category
 18  Genero                  70692 non-null  category
 19  Idade                   70692 non-null  category
 20  Educacao                70692 non-null  category
 21  FaixaRenda              70692 non-null  category
dtypes: category(19), int8(3)
memory usage: 1.5 MB

In [28]:
df_diabetes_tratado.to_parquet("../dados/diabetes_tratado.parquet", index=False)